<a href="https://colab.research.google.com/github/aniket123de/Basic-Python-Programming/blob/main/Day_6(TrIangle_Pattern_II).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# **Triangle Pattern - II**

### **Type 1**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for col in range(1,row+1):
    print("*",end=" ")
  print()

4
* * * *
* * *
* *
*

### **Type 2**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for col in range(1,row+1):
    print(row,end=" ")
  print()

4
4 4 4 4
3 3 3
2 2
1

### **Type 3**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for col in range(1,row+1):
    print(chr(row+64),end=" ")
  print()

4
D D D D
C C C
B B
A

### **Type 4**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for col in range(1,row+1):
    print(col,end=" ")
  print()

4
1 2 3 4
1 2 3
1 2
1

### **Type 5**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for col in range(1,row+1):
    print(chr(col+64),end=" ")
  print()

4
A B C D
A B C
A B
A

### **Type 6**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for col in range(h,row-1,-1):
    print(row,end=" ")
  print()

4
1 1 1 1
2 2 2
3 3
4

### **Type 7**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for col in range(h,row-1,-1):
    print(chr(row+64),end=" ")
  print()

4
A A A A
B B B
C C
D

### **Type 8**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for col in range(h,row-1,-1):
    print(col,end=" ")
  print()

4
4 3 2 1
4 3 2
4 3
4

### **Type 9**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for col in range(h,row-1,-1):
    print(chr(col+64),end=" ")
  print()

4
D C B A
D C B
D C
D

# **Triangle Pattern - III**

## **Type 1**

In [ ]:
h=int(input())
for row in range(1,h+1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print("*",end=" ")
  print()

5
        *
      * *
    * * *
  * * * *
* * * * *

## **Type 2**

In [ ]:
h=int(input())
for row in range(1,h+1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(row,end=" ")
  print()

5
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

## **Type 3**

In [ ]:
h=int(input())
for row in range(1,h+1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(chr(row+64),end=" ")
  print()

5
        A
      B B
    C C C
  D D D D
E E E E E

## **Type 4**

In [ ]:
h=int(input())
for row in range(1,h+1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(col,end=" ")
  print()

5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

## **Type 5**

In [ ]:
h=int(input())
for row in range(1,h+1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(chr(col+64),end=" ")
  print()

5
        A
      A B
    A B C
  A B C D
A B C D E

## **Type 6**

In [ ]:
h=int(input())
for row in range(h,0,-1):
  for space in range(1,row+1):
    print(" ",end=" ")
  for col in range(h,row-1,-1):
    print(row,end=" ")
  print()

5
          5
        4 4
      3 3 3
    2 2 2 2
  1 1 1 1 1

## **Type 7**

In [ ]:
h=int(input())
for row in range(h,0,-1):
  for space in range(1,row+1):
    print(" ",end=" ")
  for col in range(h,row-1,-1):
    print(col,end=" ")
  print()

5
          5
        5 4
      5 4 3
    5 4 3 2
  5 4 3 2 1

## **Type 8**

In [ ]:
h=int(input())
for row in range(h,0,-1):
  for space in range(1,row+1):
    print(" ",end=" ")
  for col in range(h,row-1,-1):
    print(chr(row+64),end=" ")
  print()

5
          E
        D D
      C C C
    B B B B
  A A A A A

## **Type 9**

In [ ]:
h=int(input())
for row in range(h,0,-1):
  for space in range(1,row+1):
    print(" ",end=" ")
  for col in range(h,row-1,-1):
    print(chr(col+64),end=" ")
  print()

5
          E
        E D
      E D C
    E D C B
  E D C B A

# **Triangle Pattern - IV**

## **Type 1**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print("*",end=" ")
  print()

5
* * * * *
  * * * *
    * * *
      * *
        *

## **Type 2**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(row,end=" ")
  print()

5
5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

## **Type 3**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(col,end=" ")
  print()

5
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

## **Type 4**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(chr(row+64),end=" ")
  print()

5
E E E E E
  D D D D
    C C C
      B B
        A

## **Type 5**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(chr(col+64),end=" ")
  print()

5
A B C D E
  A B C D
    A B C
      A B
        A

## **Type 6**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(row,end=" ")
  print()

5
5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

## **Type 7**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,row+1):
    print(chr(row+64),end=" ")
  print()

5
E E E E E
  D D D D
    C C C
      B B
        A

## **Type 8**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for space in range(1,row+1):
    print(" ",end=" ")
  for col in range(h,row-1,-1):
    print(col,end=" ")
  print()

5
  5 4 3 2 1
    5 4 3 2
      5 4 3
        5 4
          5

## **Type 9**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for space in range(1,row+1):
    print(" ",end=" ")
  for col in range(h,row-1,-1):
    print(chr(col+64),end=" ")
  print()

5
  E D C B A
    E D C B
      E D C
        E D
          E