<a href="https://colab.research.google.com/github/aniket123de/Basic-Python-Programming/blob/main/Day_7(Misc_Pattern).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Special Type**

## **Type - 1**

In [ ]:
h=int(input())
count=1
for row in range(1,h+1):
  for col in range(1,row+1):
    print(count,end=" ")
    count+=1
  print()

5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

## **Type - 2**

In [ ]:
h=int(input()) #Let h = 6
lastNum = int(h*(h+1)/2)  #lastNum = 21
print(lastNum) # print 21
digits=len(str(lastNum)) #digits = 2
print(digits) # print 2
print()
count=1
for row in range(1,h+1):
  for col in range(1,row+1):
    print(str(count).rjust(digits,'0'),end=" ") #General Syntax - string.rjust(digits,'character')
    count+=1
  print()

6
21
2

01
02 03
04 05 06
07 08 09 10
11 12 13 14 15
16 17 18 19 20 21

## **Type - 3**

In [ ]:
h=int(input())
count=1
for row in range(1,h+1):
  for col in range(1,row+1):
    if(col%2==0):
      print('0',end=" ")
    else:
      print('1',end=" ")
  print()

5
1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

## **Type - 4**

In [ ]:
h=int(input())
count=1
for row in range(1,h+1):
  for col in range(1,row+1):
    if(row%2==0):
      print('0',end=" ")
    else:
      print('1',end=" ")
  print()

## **Type - 5**

In [ ]:
h=int(input())
for row in range(1,h+1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,2*row):
    print("*",end=" ")
  print()

7
            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *

##**Type - 6**

In [ ]:
h=int(input())
for row in range(h,0,-1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,2*row):
    print("*",end=" ")
  print()

5
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

## **Type - 7**

In [ ]:
h=int(input())
for row in range(1,h+1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,2*row):
    print("*",end=" ")
  print()
for row in range(h-1,0,-1):
  for space in range(1,h-row+1):
    print(" ",end=" ")
  for col in range(1,2*row):
    print("*",end=" ")
  print()

5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

## **Type - 8**

In [ ]:
h=int(input())
for row in range(1,h+1):
  for col in range(1,2*row):
    print("*",end=" ")
  print()
for row in range(h-1,0,-1):
  for col in range(1,2*row):
    print("*",end=" ")
  print()

7
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * *
* * * * * * *
* * * * *
* * *
*

## **Type - 9**

In [ ]:
h=int(input())
for row in range(1,h+1):
  for space in range(1,h-row+2):
    print(" ",end=' ')
  print("*",end=' ')
  for space in range(1,(2*row-2)):
    print(" ",end=' ')
  if (row!=1):
    print("*",end=' ')
  print()

4
        *
      *   *
    *       *
  *           *