<a href="https://colab.research.google.com/github/aniket123de/Basic-Python-Programming/blob/main/Day_4(Square_Pattern).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Square Pattern**

### **Type 1**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for col in range(1,h+1):
    print("*",end=" ")
  print() #This line works as new line

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

### **Type 2**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for col in range(1,h+1):
    print(row,end=" ")
  print()

4
1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

### **Type 3**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for col in range(1,h+1):
    print(col,end=" ")
  print()

4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

### **Type 4**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for col in range(1,h+1):
    print(chr(col+64),end=" ")
  print()

4
A B C D
A B C D
A B C D
A B C D

### **Type 5**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for col in range(1,h+1):
    print(chr(col+64),end=" ")
  print()

4
A B C D
A B C D
A B C D
A B C D

### **Type 6**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for col in range(1,h+1):
    print(row,end=" ")
  print()

4
4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

### **Type 7**

In [ ]:
h = int(input())
for row in range(1,h+1):
  for col in range(h,0,-1):
    print(col,end=" ")
  print()

4
4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

### **Type 8**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for col in range(1,h+1):
    print(chr(row+64),end=" ")
  print()

4
D D D D
C C C C
B B B B
A A A A

### **Type 9**

In [ ]:
h = int(input())
for row in range(h,0,-1):
  for col in range(h,0,-1):
    print(chr(col+64),end=" ")
  print()

4
D C B A
D C B A
D C B A
D C B A