<a href="https://colab.research.google.com/github/aniket123de/Basic-Python-Programming/blob/main/Day_12(Lists_II).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Methods of List :**

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### **1.) append() - Insert element at the end.**

In [ ]:
x = [10,20,50,80]
print(x)
x.append(100)
print(x)
x.append([90,70])
print(x)
x.extend([60,30]) # if want to print without square bracket.
print(x)
x.append((25,50)) # Tuple
print(x)
x.append({23,89}) # Set
print(x)
x.append({'name':'John'}) # Dictionary
print(x)

[10, 20, 50, 80]
[10, 20, 50, 80, 100]
[10, 20, 50, 80, 100, [90, 70]]
[10, 20, 50, 80, 100, [90, 70], 60, 30]
[10, 20, 50, 80, 100, [90, 70], 60, 30, (25, 50)]
[10, 20, 50, 80, 100, [90, 70], 60, 30, (25, 50), {89, 23}]
[10, 20, 50, 80, 100, [90, 70], 60, 30, (25, 50), {89, 23}, {'name': 'John'}]

*A list can append another list,tuple,set.*

### **2.) clear() - To remove all the elements from a list.**

In [ ]:
x = [10,20,30,40]
print(x)
x.clear()
print(x)

[10, 20, 30, 40]
[]

### **3.) copy() -**

In [ ]:
x = [10,20,30,40]
print(x)

y = x.copy() # Deep Copy
print(y)

z=x # Shallow Copy
print(z)

print(id(x))
print(id(y))
print(id(z))

Here, We are not creating a copy of x, we are providing alias name for x i.e. z
Here we are creating a shallow copy.

If we update x that will be reflected at y.

### **4.) count() -**

In [ ]:
x = [10,20,30,40]
print(x)

y = x.count(10)
print(y)

z = x.count(50)
print(z)

[10, 20, 30, 40]
1
0

*This method will return the no of occurence within a list.*
*If number isn't present it'll return 0.*

### **5.) extend() -**

In [ ]:
x = [10,20,30,40]
print(x)

y = [100,200,300]
x.extend(y)
print(x)

[10, 20, 30, 40]
[10, 20, 30, 40, 100, 200, 300]

In [ ]:
x = [10,20,30,40]
print(x)

x.extend(80)
print(x)

[10, 20, 30, 40]

TypeError: 'int' object is not iterable

In [ ]:
x = [10,20,30,40]
print(x)

x.extend([80])
print(x)

[10, 20, 30, 40]
[10, 20, 30, 40, 80]

In [ ]:
x = [10,20,30,40]
print(x)

x.extend([[80,90],[100,120]])
print(x)

[10, 20, 30, 40]
[10, 20, 30, 40, [80, 90], [100, 120]]

*In case of extend , we also noticed nth dimensin list will be (n-1)th dimension after addition.*

### **6.) index() -**

In [ ]:
x = [10,20,30,40,50]
print(x)

y = x.index(20)
print(y)

z = x.index(50)
print(z)

[10, 20, 30, 40, 50]
1
4

*If in the list , a element is present multiple times , then only the first occurence of that element will be the output.*

### **7.) insert() -**

In [ ]:
x = [10,20,30,40]
print(x)

x.insert(2,50)
print(x)

[10, 20, 30, 40]
[10, 20, 50, 30, 40]

In [ ]:
x = [10,20,30,40]
print(x)

x.insert(0,50)
print(x)

[10, 20, 30, 40]
[50, 10, 20, 30, 40]

In [ ]:
x = [10,20,30,40]
print(x)

x.insert(-1,50)
print(x)

[10, 20, 30, 40]
[10, 20, 30, 50, 40]

### **8.) pop() -**

In [ ]:
x = [10,20,30,40]
print(x)

y = x.pop()
print(y)

[10, 20, 30, 40]
40

*By default , last element eliminates and returns that element.*

In [ ]:
x = [10,20,30,40]
print(x)

y = x.pop(2)
print(y)

[10, 20, 30, 40]
30

*If index is mentioned , corresponding element is removed.*

### **9.) remove() -**

In [ ]:
x = [10,20,30,40]
print(x)

x.remove(20)
print(x)

[10, 20, 30, 40]
[10, 30, 40]

*It works upon value , doesn't work upon indexing.*

### **10.) reverse() -**

In [ ]:
x = [10,20,30,40]
print(x)

x.reverse()
print(x)

[10, 20, 30, 40]
[40, 30, 20, 10]

### **11.) sort() -**

In [ ]:
x = [100,20,320,4]
print(x)

x.sort()
print(x)

[100, 20, 320, 4]
[4, 20, 100, 320]

### **sorted() -**

*Not a method of list !!*

In [ ]:
x = [100,20,320,4]
print(x)

y = sorted(x)
print(y)
print(x) #Original list doesn't change

[100, 20, 320, 4]
[4, 20, 100, 320]

In [ ]:
x = [100,20,320,4]
print(x)

y = sorted(x , reverse = True)
print(y)

[100, 20, 320, 4]
[320, 100, 20, 4]

### **reversed() -**

In [ ]:
x = [10,20,30,40]
print(x)

y = list(reversed(x))
print(y)
print(x) #Original list doesn't change

[10, 20, 30, 40]
[40, 30, 20, 10]
[10, 20, 30, 40]