<a href="https://colab.research.google.com/github/aniket123de/Basic-Python-Programming/blob/main/Day_2(Conditional_Statements).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic if
basic if-else
nested if
ladder if-else

### **basic if:**

if condition:

---


   Statement1

---


   Statement2

In [ ]:
if 5>3:
  print("Yes")
  print("True")

Yes
True

### **basic if-else :**

General Syntax -
if condition:
   Statement1
else:
   Statement2

In [ ]:
marks = 89
if marks>40:
  print("Pass")
else:
  print("Fail")

Pass

### **Nested if :** If one if-else statement lies between another if-else , it is termed as Nested if.

General Syntax -


```
if condition:
   if condition:
      statement1
    else:
      statement2
else:
    statement3
```

Take voter age as input , and check he/she is minor/adult/senior citizen.

In [ ]:
x=int(input())
if x<60:
   if x<18:
      print("Minor")
   else:
       print("Adult")
else:
    print("Senior Citizen")

14
Minor

### **Ladder if-else:**

In [ ]:
General syntax -
if condition:
   Statement1
elif condition:
   Statement2
elif condition:
   Statement3
   .
   .
else:
   Statement

Take voter age as input , and check he/she is minor/adult/senior citizen.

In [ ]:
x=int(input())
if x<18:
  print("Minor")
elif(x<60):
  print("Adult")
else:
  print("Senior Citizen")

17
Minor

### **Python Loop**

1. For
2. While

loop will help us to execute multiple statements n numbers of times based on some conditions.

## **for Loop General syntax:**

In [ ]:
for i in range(start, end+1, step)
  print(i)

**Example** :

In [ ]:
for i in range(1,11,1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(25, 51, 5):
    print(i)

25
30
35
40
45
50

In [ ]:
for i in range (25, 51,5):
    print(i, end=' ')

25 30 35 40 45 50

In [ ]:
print(range(0,5))

range(0, 5)

**print 0 to 10**

In [ ]:
for i in range(0,11):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10

here we havent mentioned step value so step = 1( by default)

In [ ]:
for i in range (11):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10

print 21 to 14 in reverse

In [ ]:
for i in range(21,14-1,-1):
  print(i, end=' ')

21 20 19 18 17 16 15 14

**in Ascending order -->**
for i in range(start, end+1, step)
  print(i)

**in descending order -->**
for i in range(start, end-1, step)
  print(i)

**How to Print list usimg for loop**

In [ ]:
x=[10, 20, 30, 40, 50]
for value in x:
  print(value*10)

100
200
300
400
500

## **while Loop General Syntax :**

In [ ]:
while condition:
  statement
  increment

 **Print 24-14**

In [ ]:
start = 24
end = 14
while start>=end:
  print(start,end=" ")
  start = start - 1 #In C , we use Start--

24 23 22 21 20 19 18 17 16 15 14

**Print 1-10**

In [ ]:
start = 1
end = 10
while start<=end:
  print(start,end=" ")
  start = start + 1 #In C , we use Start++

1 2 3 4 5 6 7 8 9 10

We can access multiple element at once...... but in the above process  we can access element but we can not access index of element.

In [ ]:
x=[10, 20, 30, 40, 50]
Element  index
10        0
20        1
30        2
40        3
50        4

In [ ]:
for index in range(5):
  print( x[index])

10
20
30
40
50

In [ ]:
x=[10, 20, 30, 40, 50]
for index in range(5):
  print(index, "---", x[index])

0 --- 10
1 --- 20
2 --- 30
3 --- 40
4 --- 50

If we can access index of element we can manupulate the value of the list.
Example :

In [ ]:
x=[10, 20, 30, 40, 50]
print(x)
x[0]=500
print(x)

[10, 20, 30, 40, 50]
[500, 20, 30, 40, 50]