<a href="https://colab.research.google.com/github/aniket123de/Basic-Python-Programming/blob/main/Day_1(Data_Types_and_taking_Inputs).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First Program in Python

In [ ]:
print ("Aniket")
print ('Aniket')
print ('''Aniket''')
print ("""Aniket""")

Aniket
Aniket
Aniket
Aniket

*In Python We can also Use Semi-Colon to define end of statement.*

In [ ]:
print ("Aniket");print ('Aniket');print ('''Aniket''');print ("""Aniket""")

Aniket
Aniket
Aniket
Aniket

**How to take User Inputs in Python ?**

In [ ]:
x = input()
print(x)
print(type(x))

35
35
<class 'str'>

 *In Python , when we are taking inputs using input() , all inputs will be considered as String.*

In [ ]:
x = input()
print(x)
print(type(x))

anik
anik
<class 'str'>

In [ ]:
x = input()
print(x)
print(type(x))

23.25
23.25
<class 'str'>

Take user input as integer

In [ ]:
x=int(input())
print(x)
print(type(x))

25
25
<class 'int'>

*Here in Python 'int','float' is a class.*

Take user input as Float.

In [ ]:
x=float(input())
print(x)
print(type(x))

21.02
21.02
<class 'float'>

*When user can provide int/float : Use eval()*

In [ ]:
x = eval(input())
print(x)
print(type(x))

25
25
<class 'int'>

In [ ]:
x = eval(input())
print(x)
print(type(x))

25.45
25.45
<class 'float'>

*eval() means Evaluation*

In [ ]:
x="5+(9+6)*7*8+9"
print(x)
print(eval(x))

5+(9+6)*7*8+9
854

*Here in Python , there is no concept of range for the data types.*

In [ ]:
x=int(input())
print(x)

5555555555555555555555555555555555555555555555555555555444447888412200336998520012445587552
5555555555555555555555555555555555555555555555555555555444447888412200336998520012445587552

Taking 2 inputs from user

In [ ]:
x = input().split()
print(x)
print(x[0])
print(x[1])

10 20
['10', '20']
10
20

*By default , split() function is based on space.*

Taking multiple integer inputs as user inputs

In [ ]:
x = list(map(int,input().split()))
print(x)
print(type(x[0]))

10 20 30 40
[10, 20, 30, 40]
<class 'int'>

map(datatype_class , list-of_string) : Now , it will help you to convert your list of string element into your preferred datatype_class.

It will return an map object.
As it is not readable , we need to convert into list by list().

list(map(datatype_class , list-of_string))

Swap 2 numbers

In [ ]:
a , b = 2 , 3
print(a,b)
a , b = b , a
print(a,b)

2 3
3 2

Take only 2 inputs.

In [ ]:
a ,b = list(map(int,input().split()))
print(a)
print(b)

10 25
10
25